.common-card-main-div {
    height: auto;
    width: 180px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
    page-break-inside:avoid;
	-webkit-column-break-inside:avoid;
    break-inside:avoid;
    box-sizing: border-box;
    background-image: linear-gradient(135deg, #EBF4FF 5%, #9EAACD 10%, #EBF4FF 60%,#9BA6CD 5%,#EBF4FF 5%,#9BA6CD);
    h2 {
        position: relative;
        display: inline-block;
        height: 20px;
        font-weight: bold;
        width: 100%;
    }
    .common-card-email {
        position: relative;
        display: inline-block;
        font-size: 12px;
        width: 100%;
    }
    .common-card-content {
        margin: 5px 0;
        padding: 0;
        display: inline-block;
        position: relative;
        width: 100%;
        text-indent: 0.8rem;
        font-size: 14px;
        font-family: fantasy;
    }
    .common-card-time {
        position: relative;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        bottom: 0;
        right: 0;
        text-align: right;
    }
}

