*{
    margin: 0;
    padding: 0;
}
html, body{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#blog-main-index-div{
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 100%;
}
// @media screen and (min-width: 1920px) {
// }
// @media screen and (max-width: 1280px) {
// }
// @media screen and (max-width: 1024px) {
// }
/* iphone6/7/8 plus */
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #blog-main-index-div{
        height: auto;
        min-height: 400px;
        max-height: calc( 100% - 100px );
        width: 100%;
        background-image: none;
        overflow: scroll;
    }
    
    html,body{
        background-image: none;
        background-color: #ECE3D9;
    }
} 
/* iphone6/7/8 */
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){
    #blog-main-index-div{
        height: auto;
        min-height: 400px;
        max-height: calc( 100% - 100px );
        width: 100%;
        background-image: none;
        overflow: scroll;
    }
    html,body{
        background-image: none;
        background-color: #ECE3D9;
    }
} 