html, body{
    position: relative;
    width: 100%;
    background: url(../../static/image/fabric.PNG);
    height: 100%;
    text-align: center;
    z-index: 0;
}
#blog-main-index-div{
    margin: 40px 0;
    display: inline-block;
    position: relative;
    height: 600px;
    width: 1200px;
    background-image: url(../../static/image/table.PNG);
    background-size: 100% 100%;
}
@media screen and (min-width: 1920px) {
    #blog-main-index-div{
        margin: 55px 0;
        height: 800px;
        width: 1600px;
        background-image: url(../../static/image/table.PNG);
        background-size: 100% 100%;
    }
}
@media screen and (max-width: 1280px) {
    #blog-main-index-div{
        margin: 80px 0;
        height: 500px;
        width: 1000px;
        background-image: url(../../static/image/table.PNG);
        background-size: 100% 100%;
    }
}
@media screen and (max-width: 1024px) {
    #blog-main-index-div{
        margin: 40px 0;
        height: 400px;
        width: 800px;
        background-image: url(../../static/image/table.PNG);
        background-size: 100% 100%;
    }
}
/* iphone6/7/8 plus */
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #blog-main-index-div{
        margin: 20px 0;
        height: auto;
        min-height: 400px;
        width: 100%;
        background-image: none;
    }
    html,body{
        background-image: none;
        background-color: #ECE3D9;
    }
} 
/* iphone6/7/8 */
@media (min-device-height: 568px) 
    and (max-device-height: 823px)
    and (min-device-width: 320px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
    #blog-main-index-div{
        margin: 20px 0;
        height: auto;
        min-height: 400px;
        width: 100%;
        background-image: none;
    }
    html,body{
        background-image: none;
        background-color: #ECE3D9;
    }
} 