#bottom-menu-main-div {
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
    text-align: center;
    z-index: 999;
    .bottom-menu-item {
        top: 0;
        left: 0;
        height: 100%;
        position: relative;
        display: inline-block;
        width: 50%;
        text-align: center;
        background-color: #ECE3D9;
        color: rgba(141, 90, 69, 1);
        .bottom-menu-item-icon {
            width: 100%;
            display: block;
            position: absolute;
            top: 2px;
            font-size: 18px;
            height: 15px;
        }
        .bottom-menu-item-name {
            width: 100%;
            display: block;
            position: absolute;
            top: 25px;
            height: 20px;
            font-size: 14px;
        }
    }
    .bottom-menu-item-selected {
        background-color: rgba(141, 90, 69, 1);
        color: #ECE3D9;
    }
    .bottom-menu-item:not(:last-child) {
        border-right: 1px solid rgba(141, 90, 69, 1);
    }
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #bottom-menu-main-div{
        display: block;
    }
} 
@media (min-device-height: 568px) 
    and (max-device-height: 823px)
    and (min-device-width: 320px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
    #bottom-menu-main-div{
        display: block;
    }
} 