#note-list-main-div{
    position: relative;
    width: 100%;
    height: 424px;
    background-color: transparent;
    overflow-x:hidden;
    overflow-y:auto;
    scrollbar-face-color:  rgba( 116, 110, 103, 0.4);/*移动滑块颜色*/
    scrollbar-track-color: #ECE3D9;/*背景颜色*/
    scrollbar-arrow-color: #ddd;/*箭头颜色*/
}
#note-list-main-div::-webkit-scrollbar-track{
    background-color: #ECE3D9;
}/* 滚动条的滑轨背景颜色 */
#note-list-main-div::-webkit-scrollbar{
    border-radius: 5px;
    width: 5px;
    background-color: #ECE3D9;
}
#note-list-main-div::-webkit-scrollbar-thumb{
    background-color:  rgba( 116, 110, 103, 0.4);
}

.note-body{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: transparent;
    margin-bottom: 10px;
}
.note-showdow{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.note-title-div{
    height: 20px;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}
.note-tag, .note-title{
    display: inline-block;
    margin-right: 10px;
}
.note-tag{
    width: auto;
    line-height: 20px;
    height: 20px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: rgba( 116, 110, 103, 0.4);
    color: #ECE3D9;
}
.note-title-div .note-title *{
    font-size: 16px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.note-introduce-div{
    height: 60px;
    padding: 5px 0;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    text-indent: 2rem;
    color:  rgba( 116, 110, 103, 0.6);
}
.note-icon-div{
    text-align: left;
    padding-left: 10px;
    height: 10px;
    font-size: 12px;
    line-height: 10px;
    color:  rgba( 116, 110, 103, 0.6);
}
#note-list-main-div .empty-div{
    height: 180px;
    border-color: rgba( 116, 110, 103, 0.6);
}
#note-list-main-div .empty-div img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 120px;
}
#note-list-main-div .empty-p{
    margin-top: 10px;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba( 116, 110, 103, 0.6);
}
@media screen and (min-width: 1920px) {
    #note-list-main-div{
        width: 100%;
        height: 572px;
    }
    .note-title-div .note-title *{
        font-size: 16px;
        line-height: 20px;
    }
    .note-tag{
        font-size: 14px;
    }
    .note-introduce-div{
        height: 60px;
        padding: 5px 0;
        font-size: 16px;
    }
    .note-icon-div{
        height: 14px;
        font-size: 14px;
        line-height: 14px;
    }
    #note-list-main-div .empty-p{
        font-size: 16px;
        line-height: 16px;
    }
    .note-body{
        height: 100px;
    }
}
@media screen and (max-width: 1280px) {
    #note-list-main-div{
        height: 338px;
    }
    .note-title-div .note-title *{
        font-size: 12px;
        line-height: 20px;
    }
    .note-tag{
        font-size: 10px;
    }
    .note-introduce-div{
        height: 60px;
        padding: 5px 5px;
        font-size: 12px;
    }
    .note-icon-div{
        height: 10px;
        font-size: 10px;
        line-height: 10px;
    }
    #note-list-main-div .empty-p{
        font-size: 12px;
        line-height: 12px;
    }
    .note-body{
        height: 90px;
    }
}
@media screen and (max-width: 1024px) {
    #note-list-main-div{
        height: 248px;
    }
    .note-title-div .note-title *{
        font-size: 12px;
        line-height: 18px;
    }
    .note-tag{
        font-size: 12px;
    }
    .note-introduce-div{
        height: 60px;
        padding: 5px 5px;
        font-size: 12px;
    }
    .note-icon-div{
        height: 12px;
        font-size: 12px;
        line-height: 12px;
    }
    #note-list-main-div .empty-p{
        font-size: 12px;
        line-height: 12px;
    }
    .note-body{
        height: 90px;
    }
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #note-list-main-div{
        height: 505px;
    }
} 
@media (min-device-height: 630px) 
    and (max-device-height: 823px)
    and (min-device-width: 375px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
    #note-list-main-div{
        height: 505px;
    }
} 