*, body{
    padding: 0 auto;
    margin: 0;
    position: relative;
}
#root{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.common-box{
    position: relative;
}
.common-bottom{
    bottom: 0;
}
a{
    text-decoration: none;
}
.common-box > .common-box-top{
    width: 95%;
    height: 30px;
    border-left: solid 0.1rem #887E79;
    border-top: solid 0.1rem #887E79;
    border-top-left-radius: 15px;
    background-color: #ECE3D9;
}
.common-box-text{
    text-align: left;
    padding-left: 20px;
    margin-top: 6px;
    font: bold 18px/18px arial,sans-serif;
}
.common-center{
    text-align: center;
    background-color: clear;
}
.common-text{
    color: black;
    margin-top: 1rem;
    padding: 0;
    font:normal 18px/18px arial,sans-serif;
}
.common-small-text{
    color: grey;
    font:normal 12px/14px arial,sans-serif;
    padding: 0;
    margin: 0.5rem;
}
.light-hair-color{
    color: rgba( 233, 209, 208, 0.9);
}
.author-introduction{
    display: none;
}


#authorMain{
    position: relative;
    height: auto;
}
.comm-box{
    margin-left: .5rem;
    padding:.3rem;
}
.author-div{
    text-align: center;
    padding: 1rem;
}
.author-div div{
    margin-bottom: 1rem;
}
.test-black{
    background-color: black;
}
.test-white{
    background-color: white;
}

.author-introduction-enter{
    opacity: 0;
}

.author-introduction-enter-active {
    display: block;
    font:normal 15px/17px arial,sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 1;
    padding: 0 1rem;
    transition: opacity 2000ms;
}

.common-group a{
    margin-left: 4px;
    text-decoration: none;
    font:normal 15px/15px arial,sans-serif;
}


