.index-currenta-main-div{
    position: relative;
    padding-top: 2px;
    height: 100%;
}
.index-currenta-ul{
    list-style: none;
    height: auto;
    margin-left: 10px;
}
.index-currenta-title{
    display: block;
    font: bold 16px/16px Arial, Helvetica, sans-serif;
    height: 20px;
    padding: 2px 0;
    color: rgba(107, 103, 97, 1);
}
.index-currenta-li{
    width: 100%;
    overflow: hidden;
    height: 26px;
}
.index-currenta-li-tagName{
    width: 50px;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    font: normal 12px/20px Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ECE3D5;
    background-color: rgba(107, 103, 97, 0.7);
    border-radius: 5px;
    margin-right: 10px;
}
.index-currenta-li-title{
    width: 200px;
    max-width: 69%;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    padding: 2px 0;
    font: normal 14px/20px Arial, Helvetica, sans-serif;
    color: rgba(107, 103, 97, 0.7);
    background-color: transparent;
    padding-inline-start: 2px 0;
}
.index-currenta-li:hover .index-currenta-li-tagName, 
.index-currenta-li:focus .index-currenta-li-tagName{
    background-color: rgba(107, 103, 97, 0.9);
}
.index-currenta-li:hover .index-currenta-li-title, 
.index-currenta-li:focus .index-currenta-li-title{
    color: rgba(107, 103, 97, 0.9);
}