.friend-main-div{
    text-align: left;
}
.friend-box-ul{
    list-style-type: none;
}
.friend-box-ul li{
    padding-left: 5px;
}
.friend-box-title{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: rgba(107, 103, 97);
}
.friend-link{
    color: rgba(107, 103, 97, 0.6);
}
.friend-link:hover, .friend-link:focus, .friend-link:visited{
    font-size: 14px;
    color: rgba(107, 103, 97, 0.9);
}