.header-nav{
    position: relative;
    top: 0;
    left: 0;
    background-image: url('../../image/navbackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 800px 120px;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 120px;
}
.header-nav:before{
    z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	background-image: inherit;
	background-size: 800px 120px;
	background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
	-webkit-filter: blur(2.5px);
	-moz-filter: blur(2.5px);
	-ms-filter: blur(2.5px);
	-o-filter: blur(2.5px);
	filter: blur(2.5px);
}