.index-top-div{
    margin-top: 5px;    
}
.index-banner-div{
    position: relative;
    width: 100%;
    height: 100%;
}

.index-banner-img{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    max-height: 300px;
}
.index-banner-p{
    display: block;
    position: absolute;
    height: 20px;
    margin: 0;
    width: auto;
    left: 10px;
    bottom: 0px;
    z-index: 999;
    color: white;
    font: bold 16px/20px Arial, Helvetica, sans-serif;
}
.ant-carousel{
    position: relative;
    width: 100%;
}
.ant-carousel .slick-dots li.slick-active button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.slick-dots, .slick-dots-bottom{
    background-image: linear-gradient( transparent,rgba(0,0,0,0.2),rgba(0,0,0,0.3),rgba(0,0,0,0.4),rgba(0,0,0,0.6), rgba(0,0,0,0.7) );
}
.ant-carousel .slick-dots li.slick-active{
    width: 12px;
}
.ant-carousel .slick-dots li{
    padding-top: 5px;
    width: 12px;
}
.ant-carousel .slick-dots li button{
    
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.index-main-div ul{
    position: relative;
    height: 25px;
    bottom: 0px;
}
.ant-carousel .slick-dots-bottom{
    bottom: 0px;
    margin: 0;
}
@media (max-width: 980px) {
  
}