*{
    padding: 0;
    margin: 0;
}
.ant-menu{
    z-index: 1000;
    height: 35px;
    width: auto;
    overflow: hidden;
    background-color: transparent;
    color: rgba(107, 103, 97, 0.85);
    line-height: 35px;
    font-weight: bold;
}
.break-div{
    height: 5px;
    background-image: -webkit-linear-gradient(rgba(107, 103, 97, 0.7) 10%, #EEE6DB 90%);
    background-image: -moz-linear-gradient(rgba(107, 103, 97, 0.7) 10%, #EEE6DB 90%);
    background-image: linear-gradient(rgba(107, 103, 97, 0.7) 10%, #EEE6DB 90%);
    background-image: -o-linear-gradient(rgba(107, 103, 97, 0.7) 10%, #EEE6DB 90%);
}

.ant-menu-horizontal, .ant-menu-item, .ant-menu-horizontal{
    height: 35px;    
    transition: all 0.5s linear;
    background-color: transparent;
    border-bottom: none;
}
.my-custom-menu{
    width: 100px;
    text-align: left;
    margin-right: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #EEE6DB;
}
.ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
    margin-right: 5px;
    font-size: 16px;
    line-height: 35px;
}
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover, 
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-item-selected, 
.ant-menu-horizontal > .ant-menu-submenu-selected{
    font-size: 16px;
    transform: scale(1.0);
    color: #EEE6DB;
    background-color: rgba(107, 103, 97, 0.85);
}
.ant-menu-horizontal > .ant-menu-item:hover > a, 
.ant-menu-horizontal > .ant-menu-submenu:hover > a, 
.ant-menu-horizontal > .ant-menu-item-active > a, 
.ant-menu-horizontal > .ant-menu-submenu-active > a, 
.ant-menu-horizontal > .ant-menu-item-open > a, 
.ant-menu-horizontal > .ant-menu-submenu-open > a, 
.ant-menu-horizontal > .ant-menu-item-selected > a,
.ant-menu-horizontal > .ant-menu-item-selected > a{
    color: #EEE6DB;
}
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover{
    text-shadow: 0 0 1px #60B8B8;
}
.ant-menu-horizontal > .ant-menu-submenu:hover > a{
    text-shadow: 0 0 1px #60B8B8;
}
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover, 
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-item-selected, 
.ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: none;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    border-bottom: none;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    top: 0px;
}

/* 宽屏 */
@media (max-width: 980px) {
    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
        margin-right: 10px;
        font-size: 14px;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, 
    .ant-menu-horizontal > .ant-menu-submenu:hover, 
    .ant-menu-horizontal > .ant-menu-item-active, 
    .ant-menu-horizontal > .ant-menu-submenu-active, 
    .ant-menu-horizontal > .ant-menu-item-open, 
    .ant-menu-horizontal > .ant-menu-submenu-open, 
    .ant-menu-horizontal > .ant-menu-item-selected, 
    .ant-menu-horizontal > .ant-menu-submenu-selected{
        font-size: 14px;
        transform: scale(1.0);
        color: #EEE6DB;
        background-color: rgba(107, 103, 97, 0.85);
    }
    .ant-menu{
        font-size: 14px;
    }
}

/* iphone4s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
        margin-right: 10px;
        font-size: 12px;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, 
    .ant-menu-horizontal > .ant-menu-submenu:hover, 
    .ant-menu-horizontal > .ant-menu-item-active, 
    .ant-menu-horizontal > .ant-menu-submenu-active, 
    .ant-menu-horizontal > .ant-menu-item-open, 
    .ant-menu-horizontal > .ant-menu-submenu-open, 
    .ant-menu-horizontal > .ant-menu-item-selected, 
    .ant-menu-horizontal > .ant-menu-submenu-selected{
        font-size: 12px;
        transform: scale(1.0);
        color: #EEE6DB;
        background-color: rgba(107, 103, 97, 0.85);
    }
    .ant-menu{
        font-size: 12px;
    }
}
