.tagNav-div{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
}
.tagNav-title{
    margin-top: 20px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
    border-top-left-radius: 15px;
    border-width: 1px;
}

.target-search-div{
    position: relative;
    padding: 12px 10%;
    width: 100%;
    height: 60px;
    background-color: #ECE3D9;
}

.table-cell-div{
    position:  relative;
    width: 100%;
    padding: 10px 10%;
    background: #ECE3D9;
}

.table-cell{
    display: inline-block;
    border: none;
    background-color: #ECE3D9;
    color: #6B6761;
    border-radius: 10px;
    height: 35px;
    width: auto;
    padding: 4px 15px;
    font: bold 14px/18px aria;
    margin-right: 20px;
    outline: none;
    transform: scale(1);
    transition: all 0.6s linear;
}
.table-cell-selected{
    color: #ECE3D9;
    background-color: #6B6761;
    transform: scale(1);
    transition: all 1s linear;
}
.table-cell{
    transform: scale(1);
    transition: all 0.5s linear;
}
.table-cell:hover{
    color: #ECE3D9;
    background-color: #6B6761;
}
button:focus{
    outline: none;
}
.target-search-div{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
    height: 65px;
    line-height: 65px;
}
.target-search-div .ant-input-affix-wrapper{
    width: 180px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: none;
    color: rgba(107, 103, 97, 0.9);
}
.target-search-div .ant-input-search:hover,
.target-search-div .ant-input-affix-wrapper:hover{
    border: 1px solid rgba(107, 103, 97, 0.6);
    box-shadow: none;
}
.target-search-div .ant-input-search:focus,
.target-search-div .ant-input-affix-wrapper:focus{
    border: 1px solid rgba(107, 103, 97, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(107, 103, 97, 1);
}
/* iphone4s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .tagNav-title{
        height: 30px;
        line-height: 30px;
        text-align: left;
        font-size: 18px;
        border-top-left-radius: 0px;
        border: none;
    }
    .target-search-div{
        height: 40px;
        border-left: none;
        padding: 6px 10%;
    }
    .table-cell-div{
        padding: 3px 10%;
        border-left: none;
    }
    
    .table-cell{
        height: 30px;
        padding: 4px 10px;
        font: bold 14px/14px aria;
        margin-right: 15px;
        outline: none;
        transform: scale(1);
        transition: all 0.6s linear;
    }
  }