.tagNav-div{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
}
.tagNav-title{
    margin-top: 20px;
    display: inline-block;
    position: relative;
    background-color: #ECE3D9;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
    border-top-left-radius: 15px;
    border-width: 1px;
    border-color: #887E79;
    border-top-style: solid;
    border-left-style: solid;
}

.target-search-div{
    position: relative;
    padding: 12px 10%;
    width: 100%;
    height: 60px;
    background-color: #ECE3D9;
    border-left: solid 1px #887E79;
}

.table-cell-div{
    position:  relative;
    width: 100%;
    padding: 10px 10%;
    background: #ECE3D9;
    border-left: solid 1px #887E79;
}

.table-cell{
    display: inline-block;
    border: none;
    background-color: #ECE3D9;
    color: #6B6761;
    border-radius: 10px;
    height: 35px;
    width: auto;
    padding: 4px 15px;
    font: bold 14px/18px aria;
    margin-right: 20px;
    outline: none;
    transform: scale(1);
    transition: all 0.6s linear;
}
.table-cell-selected{
    color: #ECE3D9;
    background-color: #6B6761;
    transform: scale(1);
    transition: all 1s linear;
}
button:focus{
    outline: none;
}
