#notebook-main-div{
    position: absolute;
    bottom: 68px;
    left: 465px;
    width: 335px;
    height: 200px;
    background-color: transparent;
}
#notebook-main-div img{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
@media screen and (min-width: 1920px) {
    #notebook-main-div{
        bottom: 68px;
        left: 620px;
        width: 503px;
        height: 300px;
    }
}
@media screen and (max-width: 1280px) {
    #notebook-main-div{
        bottom: 68px;
        left: 384px;
        width: 305px;
        height: 180px;
    }
}
@media screen and (max-width: 1024px) {
    #notebook-main-div{
        bottom: 38px;
        left: 334px;
        width: 245px;
        height: 155px;
    }
}
/* iphone6/7/8 plus */
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #notebook-main-div{
        position: relative;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        margin-top: 100px;
        background-color: transparent;
    }
} 
@media (min-device-height: 630px) 
    and (max-device-height: 823px)
    and (min-device-width: 375px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
        #notebook-main-div{
            position: relative;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: auto;
            margin-top: 100px;
            background-color: transparent;
        }
} 