.bread-main-div{
    position: relative;
    text-align: left;
    padding-left: 10px;
    top: 10px;
    background-color: #ECE3D9;
    opacity: 0.8;
}

/* iphone6/7/8 plus */
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    .common-note-list-show{
        display: block;
    }
    .common-note-list-disappear{
        display: none;
    }
    .empty-div{
        display: none;
    }
} 
/* iphone6/7/8 */
@media (min-device-height: 630px) 
    and (max-device-height: 823px)
    and (min-device-width: 375px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
    .common-note-list-show{
        display: block;
    }
    .common-note-list-disappear{
        display: none;
    }
    .empty-div{
        display: none;
    }
} 