#note-main-div{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 26px 0px;
    background-color: transparent;
    text-align: center;
    animation: fadeIn 1.2s ease-out 1;
    -webkit-animation: fadeIn 1.2s ease-out 1;
    -o-animation: fadeIn 1.2s ease-out 1;
    -moz-animation: fadeIn 1.2s ease-out 1;
}
.note-page-addComment-component {
    position: absolute;
    right: 75px;
    bottom: 60px;
}
.ant-row, .ant-row-center, .ant-col{
    position: relative;
    height: 100%;
    width: 100%;
}
/* iphone6/7/8 plus */
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #note-main-div{
        padding: 0;
        width: 100%;
        min-height: 600px;
        max-height: calc( 100% - 40px );
    }
} 
@media (min-device-height: 568px) 
    and (max-device-height: 823px)
    and (min-device-width: 320px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
        #note-main-div{
            padding: 0;
            width: 100%;
            min-height: 600px;
            max-height: calc( 100% - 45px );
        }
    }
@keyframes fadeIn{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes fadeIn{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadeIn{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}