#common-note-list-main-div{
    position: relative;
    width: 100%;
    top: 26px;
    height: 544px;
    overflow: hidden;
    background-color: rgba( 242, 242, 242, 0.8);
}

@media screen and (min-width: 1920px) {
    #common-note-list-main-div{
        top: 35px;
        height: 725px;
    }
}
@media screen and (max-width: 1280px) {
    #common-note-list-main-div{
        top: 22px;
        height: 453px;
    }
}
@media screen and (max-width: 1024px) {
    #common-note-list-main-div{
        top: 17px;
        height: 363px;
    }
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
    #common-note-list-main-div{
        position: relative;
        width: 96%;
        left: 0;
        padding: 5px 0;
        top: 26px;
        height: auto;
        overflow: hidden;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
        background-color: rgba( 242, 242, 242, 0.45);
    }
} 
@media (min-device-height: 630px) 
    and (max-device-height: 823px)
    and (min-device-width: 375px)
    and (max-device-width: 411px)  
    and (-webkit-min-device-pixel-ratio:2){
        #common-note-list-main-div{
            position: relative;
            width: 96%;
            left: 0;
            padding: 5px 0;
            top: 26px;
            height: auto;
            overflow: hidden;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 15px;
            background-color: rgba( 242, 242, 242, 0.45);
        }
} 