.tagNav-div{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 80px;
    position: relative;
    background-color: transparent;
}
.tag-icon{
    font-size: 20px;
    margin-right: 15px;
    color: #746E67;
}
.table-cell-div{
    position:  relative;
    width: 100%;
    height: 40px;
}
.table-cell-div .ant-menu {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 35px;
}
.ant-menu{
    background-color: transparent;
    text-align: left;
    border-bottom: none;
}
.ant-menu-item, .table-cell{
    position: relative;
    top: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 2px 10px;
    height: 25px;
    line-height: 20px;
    border-radius: 5px;
    opacity: 0.4;
    color: #ECE3D9;
    background-color:#746E67;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    height: 25px;
    top: -13px;
}
.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover{
    opacity: 0.8;
    color: #ECE3D9;
    background-color: #746E67;
    border: none;
}
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
    color: #ECE3D9;
}
.ant-menu-horizontal > .ant-menu-item-active, 
.ant-menu-horizontal > .ant-menu-submenu-active, 
.ant-menu-horizontal > .ant-menu-item-open, 
.ant-menu-horizontal > .ant-menu-submenu-open, 
.ant-menu-horizontal > .ant-menu-submenu-selected,
.table-cell-selected,
.ant-menu-vertical .ant-menu-item:not(:last-child):hover, 
.ant-menu-vertical-left .ant-menu-item:not(:last-child):hover, 
.ant-menu-vertical-right .ant-menu-item:not(:last-child):hover, 
.ant-menu-inline .ant-menu-item:not(:last-child):hover,
.ant-menu-vertical.ant-menu-sub > .ant-menu-item:hover, 
.ant-menu-vertical-left.ant-menu-sub > .ant-menu-item:hover, 
.ant-menu-vertical-right.ant-menu-sub > .ant-menu-item:hover, 
.ant-menu-vertical.ant-menu-sub > .ant-menu-submenu:hover, 
.ant-menu-vertical-left.ant-menu-sub > .ant-menu-submenu:hover, 
.ant-menu-vertical-right.ant-menu-sub > .ant-menu-submenu:hover{
    opacity: 1;
    color: #ECE3D9;
    background-color: #746E67;
    border-bottom: none;
}
.ant-menu-horizontal > .ant-menu-item-selected{
    color: #ECE3D9;
    border-bottom: none;
}
.target-search-div{
    width: 100%;
    text-align: left;
}
.ant-input-affix-wrapper{
    position: relative;
    left: 58px;
    width: 60%;
    border-radius: 5px;
    background-color: rgba(107, 103, 97, 0.1);
    border: 1px solid transparent;
    box-shadow: none;
    color: rgba(107, 103, 97, 0.9);
}
.target-search-div .ant-input-search:hover,
.target-search-div .ant-input-affix-wrapper:hover{
    border: 1px solid rgba(107, 103, 97, 0.6);
    box-shadow: none;
}
.target-search-div .ant-input-search:focus,
.target-search-div .ant-input-affix-wrapper:focus{
    border: 1px solid rgba(107, 103, 97, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(107, 103, 97, 1);
}
.ant-menu-submenu-popup > .ant-menu{
    background-color: transparent;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), 
.ant-menu-vertical-left .ant-menu-item:not(:last-child), 
.ant-menu-vertical-right .ant-menu-item:not(:last-child), 
.ant-menu-inline .ant-menu-item:not(:last-child),
.ant-menu-vertical.ant-menu-sub > .ant-menu-item, 
.ant-menu-vertical-left.ant-menu-sub > .ant-menu-item, 
.ant-menu-vertical-right.ant-menu-sub > .ant-menu-item, 
.ant-menu-vertical.ant-menu-sub > .ant-menu-submenu, 
.ant-menu-vertical-left.ant-menu-sub > .ant-menu-submenu, 
.ant-menu-vertical-right.ant-menu-sub > .ant-menu-submenu{
    margin: 0;
    position: relative;
    top: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 2px 10px;
    height: 25px;
    line-height: 20px;
    border-radius: 5px;
    opacity: 0.4;
    color: #ECE3D9;
    background-color:#746E67;
}
@media screen and (max-width: 1280px) {
    .tag-icon{
        font-size: 18px;
    }
    .ant-menu-item, .table-cell{
        padding: 2px 8px;
        font-size: 12px;
    }
    .ant-input, .ant-input-affix-wrapper{
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .tag-icon{
        font-size: 18px;
    }
    .ant-menu-item, .table-cell{
        padding: 2px 8px;
        font-size: 12px;
    }
    .ant-input, .ant-input-affix-wrapper{
        font-size: 12px;
    }
    .ant-input-affix-wrapper{
        left: 10px;
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
    .tag-icon{
        font-size: 18px;
    }
}
/* iphone4s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  }