html, body{
    position: relative;
    width: 100%;
    background: url(../../image/fabric.PNG);
    height: 100%;
    text-align: center;
    z-index: 0;
}
#blog-main-index-div{
    margin: 80px 0;
    display: inline-block;
    position: relative;
    height: 600px;
    width: 1200px;
    background-image: url(../../image/table.PNG);
    background-size: 100% 100%;
}