#leftDiv{
    position: relative;
    width: 100%;
    height: 1200px;
    background-color: black;
}

#rightDiv{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: white;
}