#leftDiv{
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
}

#rightDiv{
    position: relative;
    width: 100%;
    height: 400px;
}

#nickDiv{
    width: 100%;
    height: auto;
}