#note-main-div{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
}
.ant-row, .ant-row-center, .ant-col{
    position: relative;
    height: 100%;
    width: 100%;
}