#home-footer-main-div{
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: rgba( 242, 245, 247, 0.4);
    bottom: 30px;
    text-align: center;
    transition: 0.5s;
    p{
        display: inline-block;
        width: 30%;
        font-size: 12px;
        color: black;
        a{
            color: black;
        }
        transition: 0.5s;
    }
}
#home-footer-main-div:hover{
    background-color: rgba( 242, 245, 247, 0.7);
    p{
        color: #8D5A45;
        a{
            font-weight: bold;
            color: #8D5A45;
        }
    }
}