.comment-detail-content-div{
    position: relative;
    width: auto;
    left: 1%;
}
#comment-main-div{
    position: relative;
    width: 80%;
    height: 70%;
    background: #f2f2f2;
    top: 15%;
    left: 8%;
    animation: flyFromTopRight ease-in 0.8s 1;
    background-color: rgba( 136, 100, 82, 0.9);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.4);
    .comment-content-wrap-div{
        position: absolute;
        left: 2%;
        top: 3%;
        width: 96%;
        height: 94%;
        border-radius: 20px;
        border: dotted 2px #E2DFCE;
        overflow-y: auto;
        padding: 10px;
    }
    .comment-content-wrap-div::-webkit-scrollbar-track{
        background-color: #ECE3D9;
    }
    .comment-content-wrap-div::-webkit-scrollbar{
        border-radius: 5px;
        width: 0px;
        background-color: #ECE3D9;
    }
    .comment-content-wrap-div::-webkit-scrollbar-thumb{
        background-color:  rgba( 116, 110, 103, 0.4);
    }
    // .comment-content-main-div{
    //     -moz-column-count:5;
    //     -webkit-column-count:5;
    //     column-count:5;
    // }
    
}
.comment-back-home-arrow-div{
    position: absolute;
    left: 25px;
    top: 45%;
    animation: fadeIn ease-out 0.8s 1;
}
.comment-back-home-arrow {
    display: inline-block;
    height: 81px;
    width: 106px;
    border-width: 11px 11px 0 0;
    border-image: -webkit-linear-gradient(#ddd,#000) 30 30;
    border-image: -moz-linear-gradient(#ddd,#000) 30 30;
    border-image: linear-gradient(#ddd,#000) 30 30;
    border-style: solid;
    -webkit-transform: matrix(-0.3, 0.51,0.51, 0.51, 0, 0);
    transform: matrix(-0.3, 0.51, 0.51, 0.51, 0, 0) skew(20deg);
    position: absolute;
}
.comment-back-home-arrow:hover{
    box-shadow: 5px -5px 5px #f2f2f2;
}
.comment-page-component{
    position: absolute;
    right: 40px;
    bottom: 120px;
}

@keyframes fadeIn{
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn{
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn{
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn{
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes flyFromTopRight {
    0%{
        top: -45%;
        left: 80%;
        transform: rotate(-40deg);
    }
    25% {
        top: -30%;
        left:  60%;
        transform: rotate(-30deg);
    }
    50% {
        top: -15%;
        left:  40%;
        transform: rotate(-20deg);
    }
    75% {
        top: -0%;
        left:  20%;
        transform: rotate(-10deg);
    }
    100% {
        top: 15%;
        left: 10%;
        transform: rotate(0deg);
    }
}
@-moz-keyframes flyFromTopRight {
    0%{
        top: -45%;
        left: 80%;
        transform: rotate(-40deg);
    }
    25% {
        top: -30%;
        left:  60%;
        transform: rotate(-30deg);
    }
    50% {
        top: -15%;
        left:  40%;
        transform: rotate(-20deg);
    }
    75% {
        top: -0%;
        left:  20%;
        transform: rotate(-10deg);
    }
    100% {
        top: 15%;
        left: 10%;
        transform: rotate(0deg);
    }
}
@-o-keyframes flyFromTopRight {
    0%{
        top: -45%;
        left: 80%;
        transform: rotate(-40deg);
    }
    25% {
        top: -30%;
        left:  60%;
        transform: rotate(-30deg);
    }
    50% {
        top: -15%;
        left:  40%;
        transform: rotate(-20deg);
    }
    75% {
        top: -0%;
        left:  20%;
        transform: rotate(-10deg);
    }
    100% {
        top: 15%;
        left: 10%;
        transform: rotate(0deg);
    }
}
@keyframes flyFromTopRight {
    0%{
        top: -45%;
        left: 80%;
        transform: rotate(-40deg);
    }
    25% {
        top: -30%;
        left:  60%;
        transform: rotate(-30deg);
    }
    50% {
        top: -15%;
        left:  40%;
        transform: rotate(-20deg);
    }
    75% {
        top: -0%;
        left:  20%;
        transform: rotate(-10deg);
    }
    100% {
        top: 15%;
        left: 10%;
        transform: rotate(0deg);
    }
}
